@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}

@mixin clearfix() {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin box-sizing($box-model) {
  -webkit-box-sizing: $box-model; // Safari <= 5
  -moz-box-sizing: $box-model; // Firefox <= 19
  box-sizing: $box-model;
}

* {
  @include box-sizing(border-box);
}

body {
  margin: 2rem;
}

.calculator {
  background-color: #e0e0e0;
  max-width: 500px;
  font-size: 3em;
  font-family: 'Helvetica Neue';
  font-weight: 400;

  border-top: 1px solid #8e8e8e;
  border-left: 1px solid #8e8e8e;

  @include clearfix();

  .display, .sidebar span, .keypad span {
    border-bottom: 1px solid #8e8e8e;
    border-right: 1px solid #8e8e8e;
  }

  .display {
    background-color: #999;
    font-size: 1.6em;
    text-align: right;
    padding: 2rem 3rem;
    color: #fff;
    font-weight: 300;
  }

  .keypad {
    width: 75%;
    float: left;
  }

  .sidebar, .keypad {
    span {
      float: left;
      width: 33.333%;
      text-align: center;
      padding: 2rem;
      cursor: pointer;

      &.zero {
        width: 66.666%;
        text-align: left;
        padding: 2rem 3rem;
      }

      &.clear-all, &.negate, &.percent {
        background-color: #d6d6d6;
      }
    }
  }

  .sidebar {
    background-color: #f69331;
    width: 25%;
    float: right;
    color: #fff;

    span {
      width: 100%;
    }
  }
}